@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&display=swap");
/* Base Structure */
:root {
  --black: #000000;
  --white: #ffffff;
  --link-default-color: var(--black);
  --main-bg-color: var(--white);
  --main-color: var(--black);
  --nav-bg-color: var(--white);
  --nav-scrolled-bg-color: var(--white);
  --nav-height: 10%;
  --info-color: #3597D8;
  --success-color: #2FCD71;
  --warning-color: #F0C40F;
  --error-color: #E74E3C;
  /*
    --primary: #cb0c9f;
    --secondary: #8392ab;
    
    --error: #f53939;

    --light: #e9ecef;
    --dark: #252f40;
    --neutral-100: #f8f9fa;
    --neutral-200: #e9ecef;
    --neutral-300: #dee2e6;
    --neutral-400: #ced4da;
    --neutral-500: #adb5bd;
    --neutral-600: #6c757d;
    --neutral-700: #495057;
    --neutral-800: #343a40;
    --neutral-900: #212529;
    */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
}

html, body {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

button {
  outline: none;
}

a {
  color: var(--link-default-color);
}

h1 {
  margin-bottom: 0.1em;
  font-weight: 300;
  font-size: 2.75rem;
}

h2 {
  margin-bottom: 0.1em;
  font-weight: 300;
}

p {
  line-height: 1.5em;
}

address {
  font-style: normal;
}

.pageOffset {
  height: var(--nav-height);
}

.gridWrapper {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1280px;
  }
}

@keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1280px;
  }
}

@-webkit-keyframes wave-reverse {
  0% {
    background-position: 1280px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes wave-reverse {
  0% {
    background-position: 1280px;
  }
  100% {
    background-position: 0;
  }
}

.grid-50 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  justify-items: center;
}

.grid-30 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100%/3))[3];
      grid-template-columns: repeat(3, calc(100%/3));
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.section-white {
  background-color: var(--white);
  color: var(--black);
  padding: 2em;
}

.divider {
  width: 1px;
  height: auto;
  background-color: #e5e5e5;
}

.landing-page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--nav-bg-color);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  z-index: 150;
}

nav.scrolled {
  background-color: var(--nav-scrolled-bg-color);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

nav.scrolled #navLogo {
  background: none;
}

nav > * {
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

nav > ul > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .nav-items a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--link-default-color);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

nav .nav-items a:hover::after {
  width: 100%;
}

nav #nav-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50%;
}

nav .nav-items {
  gap: 1.5em;
}

nav .user-links {
  gap: 2em;
}

nav .user-links * {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

nav .user-links > *::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  border-radius: 50%;
  background: var(--black);
  z-index: -1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

nav .user-links > *:hover * {
  color: var(--white);
}

nav .user-links > *:hover::before {
  opacity: 1;
}

#alert-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 450px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: none;
  z-index: 1000;
}

#alert-container .alert {
  width: 100%;
  padding: 1.25rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.5rem 1rem 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: var(--white);
}

#alert-container .alert .icon {
  margin-right: 0.675rem;
}

#alert-container .alert p {
  margin: 0;
}

#alert-container .alert button {
  padding: 0;
  margin-left: auto;
  font-size: 1.125rem;
  border: none;
  background: none;
  cursor: pointer;
}

#alert-container .alert::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

#alert-container .info .icon {
  color: var(--info-color);
}

#alert-container .info::before {
  background-color: var(--info-color);
}

#alert-container .success .icon {
  color: var(--success-color);
}

#alert-container .success::before {
  background-color: var(--success-color);
}

#alert-container .warning .icon {
  color: var(--warning-color);
}

#alert-container .warning::before {
  background-color: var(--warning-color);
}

#alert-container .error .icon {
  color: var(--error-color);
}

#alert-container .error::before {
  background-color: var(--error-color);
}

.fadeOut {
  opacity: 0;
  -webkit-transition: opacity 1.75s ease;
  transition: opacity 1.75s ease;
}

.popup {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.popup .popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3rem;
  color: var(--white);
  text-shadow: 0 0 1px var(--black);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.popup .popup-content h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.popup .popup-content p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.popup .popup-content .adjacent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.popup .popup-content .button {
  width: 100%;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.popup .popup-content .button::after, .popup .popup-content .button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.popup .popup-content .button::before {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.popup .popup-content .button::after {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.popup .popup-content .button:hover *, .popup .popup-content .button:active *, .popup .popup-content .button:focus *, .popup .popup-content .button:focus-visible * {
  color: var(--black);
}

.popup .popup-content .button:hover::before, .popup .popup-content .button:active::before, .popup .popup-content .button:focus::before, .popup .popup-content .button:focus-visible::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.popup .popup-content .button:hover::after, .popup .popup-content .button:active::after, .popup .popup-content .button:focus::after, .popup .popup-content .button:focus-visible::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.popup .popup-content .button button {
  width: 100%;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  border: 1px solid var(--white);
  background: none;
  outline: none;
}

.popup.visible {
  visibility: visible;
  opacity: 1;
}

.popup.visible .popup-content {
  visibility: visible;
  opacity: 1;
}

.page-error {
  height: 100%;
  text-align: center;
}

.page-error h1 {
  font-size: 3rem;
}

.page-error h2 {
  font-size: 2rem;
}

.auth-form {
  width: 500px;
  padding: 2rem 0;
}

.auth-form > * {
  margin-bottom: 1.5rem;
}

.auth-form > *:last-child {
  margin-bottom: 0;
}

.auth-form > header {
  font-size: 2rem;
  font-weight: 600;
}

.auth-form .adjacent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.auth-form .form-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.auth-form .form-field .input-hint {
  margin: 0;
  padding: 3px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 400;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

.auth-form .form-field input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--black);
  outline-offset: -2px;
}

.auth-form .form-field input:hover {
  outline: 1px solid var(--black);
}

.auth-form .form-field input:active, .auth-form .form-field input:focus, .auth-form .form-field input:focus-visible {
  outline: 1px solid var(--black);
}

.auth-form .form-field input:active + .input-hint, .auth-form .form-field input:focus + .input-hint, .auth-form .form-field input:focus-visible + .input-hint {
  color: var(--white);
  background: var(--black);
}

.auth-form .form-button {
  width: 100%;
  position: relative;
}

.auth-form .form-button::after, .auth-form .form-button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--black);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.auth-form .form-button::before {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.auth-form .form-button::after {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.auth-form .form-button:hover *, .auth-form .form-button:active *, .auth-form .form-button:focus *, .auth-form .form-button:focus-visible * {
  color: var(--white);
}

.auth-form .form-button:hover::before, .auth-form .form-button:active::before, .auth-form .form-button:focus::before, .auth-form .form-button:focus-visible::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.auth-form .form-button:hover::after, .auth-form .form-button:active::after, .auth-form .form-button:focus::after, .auth-form .form-button:focus-visible::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.auth-form .form-button input[type=submit], .auth-form .form-button button {
  width: 100%;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid var(--black);
  background: none;
  outline: none;
}

.auth-form #need-account, .auth-form #already-have-account {
  font-weight: 600;
}

.profile-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
}

.profile-container > * {
  overflow-wrap: anywhere;
}

.profile-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.profile-links-container > h2 {
  font-size: 1rem;
  font-weight: bold;
}

.profile-links-container ul {
  width: 100%;
  list-style: none;
  padding-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.profile-links-container ul a {
  text-decoration: none;
}

.profile-main-container {
  position: relative;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product-page-container {
  width: 75%;
  margin: auto;
  padding: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

#product-page-container #filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product-page-container #filter-section > section > ul {
  padding: 0 0 0 0.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: #333;
  font-size: 0.875rem;
}

#product-page-container #filter-section > section > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product-page-container #filter-section > section > ul li input[type="checkbox"] {
  margin: 0 0.5rem 0 0;
}

#product-page-container #filter-section > section > ul li label, #product-page-container #filter-section > section > ul li input[type="checkbox"] {
  cursor: pointer;
}

#product-page-container #filter-section #price-filter > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

#product-page-container #filter-section #price-filter > section input {
  width: 75px;
  margin: 0;
}

#product-page-container #product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product-page-container #product-section #sorting-container {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#product-page-container #product-section #sorting-container > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

#product-page-container #product-section #sorting-container > section > p {
  color: #333;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#product-page-container #product-section #sorting-container .search-container {
  width: 75%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#product-page-container #product-section #sorting-container .search-container > input {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
}

#product-page-container #product-section #sorting-container #sort-by-container {
  margin-left: auto;
}

#product-page-container #product-section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#product-page-container #product-section .info > * {
  font-size: 0.875rem;
  color: #333;
}

#product-page-container #product-section #product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

#product-page-container input, #product-page-container select {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

#product-page-container input:focus, #product-page-container select:focus {
  outline: 1px solid #e0e0e0;
}

.product {
  width: 250px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .product-image {
  width: 100%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .rating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .rating .rating-stars {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .rating .rating-stars .star {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  background-color: #ffc107;
}

.product .product-info .brand {
  margin: 0;
  font-size: 0.875rem;
}

.product .product-info .name {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

.product .product-info .price {
  font-size: 0.875rem;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */